[Unit]
Description=Manage Java service

[Service]
WorkingDirectory={{aplicacao_diretorio}}
ExecStart=/usr/bin/java -jar {{aplicacao_arquivo}}.jar --spring.profiles.active={{aplicacao_ambiente}} --server.port={{aplicacao_porta}}
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
